@model X.PagedList.IPagedList<Business.DTOs.GetBookingDTO>
@using Data.Commons
@using X.PagedList.Mvc.Core
@{
    ViewData["Title"] = "Booking";
    Layout = "_DashboardLayout";
}
<h1>Bookings</h1>
<p>
    <a href="@Url.Action("Vehicles","Vehicle")" class="btn btn-outline-success">Book Now</a>
</p>
<table class="table table-sm">
    <thead>
        <tr>
            <th>
                Booking#
            </th>
            <th>
                From
            </th>
            <th>
                To
            </th>
            <th>
                Payment
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            if(Model.Count() > 0)
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @item.From.ToString("dd MMM, yyyy")
                        </td>
                        <td>
                            @item.To.ToString("dd MMM, yyyy")
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            <a href="@Url.Action("Details", "Booking")?Id=@item.Id">Details</a> |
                            <a href="@Url.Action("Delete", "Booking")?Id=@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="5" class="text-center">No booking</td>
                </tr>
            }
        }
    </tbody>
</table>
<div class="">
    @if (Model.Count() > 0)
    {
        <span>Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</span>
        <span>@Html.PagedListPager(Model, page => Url.Action("Booking", new { pageNumber = page }))</span>
    }
</div>
