@model X.PagedList.IPagedList<Business.DTOs.GetBookingDTO>
@using Data.Commons
@using X.PagedList.Mvc.Core
@{
    ViewData["Title"] = "Booking";
    Layout = "_DashboardLayout";
}
<h1>Bookings</h1>
<p>
    <a href="@Url.Action("Vehicles","Vehicle")" class="btn btn-outline-success">Book Now</a>
</p>
<table class="table table-sm">
    <thead>
        <tr>
            <th>
                Booking#
            </th>
            <th>
                From
            </th>
            <th>
                To
            </th>
            <th>
                Payment
            </th>
            <th>
                Review
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            if (Model.Count() > 0)
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @item.From.ToString("dd MMM, yyyy")
                        </td>
                        <td>
                            @item.To.ToString("dd MMM, yyyy")
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            @if (item.IsReview)
                            {
                                <span class="badge bg-success">Reviewd</span>
                            }
                            else
                            {
                                if(item.Status == enPaymentStatus.Unpaid.ToString())
                                {
                                    <a href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="grey" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                                        </svg>
                                    </a>
                                }
                                else
                                {
                                    <a href="@Url.Action("Reviews", "Account")?BookingId=@item.Id">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                                        </svg>
                                    </a>
                                }
                            }
                        </td>
                        <td>
                            <a href="@Url.Action("Details", "Booking")?Id=@item.Id">Details</a> |
                            <a href="@Url.Action("Delete", "Booking")?Id=@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="5" class="text-center">No booking</td>
                </tr>
            }
        }
    </tbody>
</table>
<div class="">
    @if (Model.Count() > 0)
    {
        <span>Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount</span>
        <span>@Html.PagedListPager(Model, page => Url.Action("Booking", new { pageNumber = page }))</span>
    }
</div>
