@model Business.DTOs.GetBookingDTO

@{
    ViewData["Title"] = "Details";
    Layout = "_DashboardLayout";
}


<h3 class="mb-5">Booking# @Model.Id</h3>

<h4>Vehicle Information</h4>
<div class="row ">
    <div class="col-md-6">
        <img src="@Model.Vehicle.Image" class="img-fluid" alt="Vehicle Image" style="width: 100%; height: 250px; object-fit: contain">
    </div>
    <div class="col-md-6">
        <h1>@Model.Vehicle.Model @Model.Vehicle.Name</h1>
        <p><strong>Year:</strong> @Model.Vehicle.Year</p>
        <p><strong>Color:</strong> @Model.Vehicle.Color</p>
        <p><strong>Price:</strong> &pound;@Model.Vehicle.Price/Day</p>
    </div>
</div>

<div class="my-3">
    <h4>Booking Information</h4>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.From)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.From)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.To)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.To)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Purpose)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Purpose)
        </dd>
        <dt class="col-sm-2">
           No# of Day
        </dt>
        <dd class="col-sm-10">
            @Model.To.Subtract(Model.From).Days
        </dd>
        <dt class="col-sm-2">
            Amount
        </dt>
        <dd class="col-sm-10">
            &pound;@(Model.To.Subtract(Model.From).Days * @Model.Vehicle.Price)
        </dd>
        <dt class="col-sm-2">
            Payment Status
        </dt>
        <dd class="col-sm-10">
            @{
                if (Model.Status.ToString() == "Unpaid")
                {
                    <span class="badge bg-danger">@Model.Status</span>
                }
                else
                {
                    <span class="badge bg-success">@Model.Status</span>
                }
            }
        </dd>
    </dl>
</div>


<div>
    @* &pound;@Model.Vehicle.Price *@
</div>